/*******************************************
 * Leitor de RSS Feeds
 *******************************************/
a#feed{
    font-size: 14px;
    color: #3366ff;
    padding: 0px;
    margin: 0px;
}

/*******************************************
 * Controle de Gás
 *******************************************/

div#gasInclusao{
    display: none;
}

div#gasLista{
    display: block;
}